{% extends "general.html" %}

<!-- Contains a bunch of info about who made website and what is does -->

{% block content %}	
	<h2 style="font-weight: normal;" class="text"><span style="font-weight:bold;">Founder:</span> Cameron R. Wolfe </h2>
	<h5 style="font-weight: normal;" class="text"> <span style="font-weight:bold;">What does LinkIt do?</span> Linkit is a web application that utilizes Optical Character Recognition (OCR) Technology to read links/URLs off of pictures taken by users. The link is then returned to the user so that it can be easily followed to their desired webpage. LinkIt eliminates the need to read a long URL and type it into a browser by reading the link for you and allowing you to copy it on your phone. </h5>

{% endblock %}

